body{
font-family: 'Montserrat', sans-serif;

    background-color: #F5F7FA;
}

a{
    text-decoration: none;
}

.main-conteiner{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background-color: white;
    margin: 40px auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* Main content section */
.Main-content-section{
    padding: 50px;
}

.Main-content-title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;3
    color: #000;
    margin-bottom: 10px;
}

/* About me section*/
.about-me-section{
/* margin-left:  -50px;
margin-right: -50px;
padding: 30px 50px;
background-color: #266b5a; */

}


.about-me-profession{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 17px;
    color: #000;
    margin-bottom: 20px;
  
}

.my-name{
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #000;
    margin-bottom: 20px;
}

.about-me-discription{
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #000;
}

/* my progects section */
.my-progects-section{
    margin: 40px 0 50px 0;
}

.my-progects-list{
    padding: 0 0 0 20px;
}

.my-progects-item{
    color: #000000;
    font-weight: bold;
}

.my-progect-link{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #266b5a;
}

.my-progect-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    margin-left: 5px;
}

.my-progect-bracket{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;   
    color: #000000; 
}

/* My Work Experience */
.my-work-experience-section{
    margin-top: 50px;
}

.my-Work-Experience-company{
    color: #266b5a;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 5px 0;
}

.my-Work-Experience-position{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 5px 0;
}

.my-Work-Experience-period{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin-top: 0;
    color: #000;
}

.my-Work-Experience-divider{
    color: #000000;
}

.my-Work-Experience-Duties{
padding: 0 0 0 18px;
}

.my-Work-Experience-Duty{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #000;
}

.my-Work-Experience-compani-bloc{
    margin: 0 0 15px 0;
}

.my-Work-Experience-compani-education{
        margin: 0 0 40px 0;
}

/* My education */
.My-education-section{
    margin-top: 50px;
}

.My-education-list{
padding-left: 20px;
}

.My-education-university{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #266b5a;
    margin: 10px 0 10px 0;
}
.My-education-profession{
    color: #000;
    margin: 0 0 10px 0;

}
.My-education-period{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    color: #000;
    }
    .My-education-divider{
        color: #000000;
    }
/*sidebar_sections */
.aside-section{
    background-color:#266b5a;
    width: 370px;
    padding: 40px 0;
}
.contact-section,
.Tech-Skills-section{
    margin: 50px 0 0 40px;
}
.sidebar-title{
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 27px;
color: #FFFFFF;
margin-bottom: 10px;
}
/* Contacts section */

.contact-section-type{
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 24px;
color: #FFFFFF;
margin-right: 5px;
}
.contact-section-link{
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
}
/* Tech Skills section*/
.Tech-Skills-list{
padding-left: 17px ;
}
.Tech-Skills-item{
    color: #266b5a
}
.Tech-Skills-item-text{
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
}

/* Soft Skills section */
.Soft-Skills-section{
margin: 50px 0 0 40px;
}
.Soft-Skills-list{ 
padding-left: 17px ;
}
.Soft-Skills-item{
color: #266b5a
}
.Soft-Skills-item-text{
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;

}